*{
  margin: 0%;
}

.app{
    background-color: #fafafa;
  height: 100vh;
}

.app_header{

  background-color: white; 
  padding: 5px;
  border-bottom: 1px solid lightgray;
  object-fit: contain; /*keep it this sized no matter what*/
  
}

.app_header_img{

  height: 43px; 
  max-width: fit-content;

}